
<!-- 
<h3>All registered users:</h3>
<ul>
<li *ngFor=" let user of users">
    {{user.username}} ({{user.firstName}} {{user.lastName}})
    -<a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
</li>
</ul> -->

<section class="w3-container w3-center w3-content" style="max-width:600px">
    <h2 class="w3-wide">{{ 'brand' | translate }}</h2>
    <p class="w3-opacity"><i>{{ 'love' | translate }}</i></p>
    <p class="w3-justify">{{ 'resource' | translate }}</p>
</section>

<section>
    <img class="mySlides" src="../assets/image/hack1.jpg"
    style="width:100%;">
</section>
